html, body, #container { 
    width: 100%;
    height: 98.94%; 
    margin: 0; 
    padding: 0;
}

#input-container
{
    position: relative;
    width: 100%;
    height: 10%;
    background-color: brown;
    
}

#input-container > *
{
    height: 80%;
}

#message-container
{
    height: 89%;
    overflow-y: auto;
    background-color: blanchedalmond;
}

#users-container
{
    width: 10%;
    height: 89%;
    overflow-y: auto;
    float: right;
    background-color: darkkhaki;
}

#rooms-container
{
    width: 10%;
    height: 89%;
    overflow-y: auto;
    float: left;
    background-color: darkkhaki;
}

#msg
{
    width: 80%;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
  }